<!--<div class="row-fluid">
    <div class="span12">
        <h4>Blog</h4>
        <div style="float:right">
            <a href="#addpost" class="btn btn-primary save">Add</a>
            <a href="#post/<%= _id %>" class="thumbnail plain" style="text-align: center;">
			    <h5><%= postTitle %></h5><br/>
			    <p><%= postDescription %></p>
			</a>
        </div>
        <p> </p>
    </div>
</div>-->

 <a href="#post/<%= _id %>" class="thumbnail plain" style="text-align: center;">
			    <h5><%= postTitle %></h5><br/>
			    <p><%= postDescription %></p>
</a>